.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.projectRow {
  padding: 0px 0px; }
  .projectRow .projectCont h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans', serif; }
  .projectRow .projectCont p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', serif; }
  .projectRow .portfolio {
    min-height: 188px;
    background: #138FE7;
    position: relative; }
    .projectRow .portfolio .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px; }
  .projectRow .hwad {
    min-height: 188px;
    background: url("../img/hwad.jpg") no-repeat center center;
    background-size: 151%;
    position: relative; }
    .projectRow .hwad .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.3); }
  .projectRow .ksctool {
    min-height: 188px;
    background: url("../img/ksctoolCover.png") no-repeat center center;
    background-size: 151%;
    position: relative; }
    .projectRow .ksctool .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.3); }
  .projectRow .uachieve {
    min-height: 188px;
    background: url("../img/uachieve.jpg") no-repeat center center;
    background-size: 151%;
    position: relative; }
    .projectRow .uachieve .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.3); }
  .projectRow .hackthehill {
    min-height: 188px;
    background: url("../img/hackthehill.jpg") no-repeat center center;
    background-size: 151%;
    position: relative; }
    .projectRow .hackthehill .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.3); }
  .projectRow .naauao {
    min-height: 188px;
    background: url("../img/naauao.jpeg") no-repeat center center;
    background-size: 190%;
    position: relative; }
    .projectRow .naauao .card {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px;
      background-color: rgba(0, 0, 0, 0.3); }

.footerRow {
  margin-top: 100px;
  height: 100px;
  padding-left: 25px;
  padding-right: 25px; }
  .footerRow .footer {
    border-top: 1px solid black;
    padding-top: 40px; }
    .footerRow .footer h4 {
      display: inline;
      font-size: 14px;
      letter-spacing: 2px; }
    .footerRow .footer .socialButton {
      float: right;
      width: 40px;
      height: 40px;
      margin: 0px 3px;
      border-radius: 100%;
      border: 2px solid black;
      position: relative; }
      .footerRow .footer .socialButton i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

/* Small only */
/* Medium and up */
@media screen and (min-width: 40em) {
  .projectRow {
    padding: 0px 55px; }
    .projectRow .projectCont p {
      font-size: 20px; }
    .projectRow .portfolio {
      min-height: 447px; }
      .projectRow .portfolio .card {
        padding: 50px; }
    .projectRow .hwad {
      min-height: 447px;
      background-size: 150%; }
      .projectRow .hwad .card {
        padding: 50px; }
    .projectRow .ksctool {
      min-height: 447px;
      background-size: 150%; }
      .projectRow .ksctool .card {
        padding: 50px; }
    .projectRow .uachieve {
      min-height: 447px;
      background-size: 120%; }
      .projectRow .uachieve .card {
        padding: 50px; }
    .projectRow .hackthehill {
      min-height: 447px;
      background-size: 120%; }
      .projectRow .hackthehill .card {
        padding: 50px; }
    .projectRow .naauao {
      min-height: 447px;
      background-size: 150%; }
      .projectRow .naauao .card {
        padding: 50px; }

  .footerRow {
    padding-left: 55px;
    padding-right: 55px; }
    .footerRow .footer h4 {
      font-size: 16px; }
    .footerRow .footer .socialButton {
      margin: 0px 8px; } }
/* Medium only */
/* Large and up */
/* Large only */
