@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttc") format("truetype"); 
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

// off-canvas
// 100% width
.is-open-right {
	transform: translate(-100%);
}
.off-canvas.position-right {
	right: -100% !important;
	top: 0;
	width: 100% !important;
}
.off-canvas {
	width: 100%;
	// canvas content background
	background-color: black;
}

.off-canvas-wrapper {
	// white-space background
	background-color: black;
}

// off-canvas shadow
.off-canvas-content {
	box-shadow: none !important;
}

// off-canvas content styling
.nav {

	a {
		color: white;
	}

	.link {
		border-bottom: 1px solid white;
		margin-bottom: 10px;

		a {
			padding-left: 0;
			font-size: 20px;
		}
	}

	.menu {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	
}

.hero1 {
	height: 100vh;
	background-color: white;
	background: url("/img/nick.gif") no-repeat top;
	background-size: cover;

	.hamburger {
		background-color: transparent;
		color: white;
		font-size: 32px;
		font-weight: 700;
		border: 0px;
		padding: 0px;
		float: right;
		margin-right: 20px;
		margin-top: 20px;
	}

	.content {
		margin-top: 50%;
		transform: translateY(-34px);
		color: white;
		text-align: left;

		.headers {
			margin-left: 12px; 
		}

		h1 {
			font-family: 'Montserrat';
			font-size: 48px;
			margin-bottom: 15px;
		}

		h2 {
			font-family: 'Avenir';
			font-size: 24px;
			margin: 0px;
			color: white;
		}

		.arrowCont {
			top: 200px;
			height: 100%;
			position: relative;
			padding: 0;

			.arrow {
				color: #8A8A8A;
				position: absolute;
				left: 50%;
				top: 50%;	
				transform: translate(-50%, -50%);
				padding: 0;
				margin: 0;
			}	
		}
	}
}

.hero2 {
	height: 100vh;
	background-color: black;

	.content {
		padding-top: 60px;
		color: white;

		h1 {
			font-size: 48px;
			font-family: 'Montserrat';
			padding-left: 20px;
		}

		p {
			font-family: 'Avenir';
			font-size: 24px;
			padding-left: 20px;
			padding-right: 20px;

			span {
				text-decoration: line-through;
			}

		}

		a {
			font-family: 'Avenir';
			margin-left: 20px;
			font-size: 18px;
			border: 1px solid white;
			background-color: transparent;
		}
	}

	.border {
		width: 90%;
		border-top: 1px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 40px;
	}

	.footer {
		
		padding-bottom: 40px;

		.footerRow {

			position: relative;

			h4 {
				font-family: 'Avenir';
				padding-left: 20px;
				display: inline;
				font-size: 18px;
				letter-spacing: 2px;
				color: white;
				top: 50%;
				position: absolute;
				transform: translateY(-50%);
			}

			.socialButton {
				float: right;
				width: 50px;
				height: 50px;

				margin: 0px 5px;
				border-radius: 100%;
				border: 2px solid white;

				position: relative;

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

	.nav {
		.link {
			margin-bottom: 20px;
			a {
				font-size: 36px;
				margin-bottom: 5px;
			}
		}
	}

	.hero1 {
		padding-left: 20px;

		.content {
			h1 {
				font-size: 72px;
			}

			h2 {
				font-size: 36px;
			}

			.arrowCont {
				top: 250px;
			}
		}
	}

	.hero2 {
		position: relative;

		.content {
			padding-left: 50px;
			padding-right: 50px;

			h1 {
				font-size: 72px;
			}

			p {
				font-size: 36px;
				line-height: 200%;
			}

			a {
				margin-top: 50px;
				font-size: 27px;
			}
		}
	

		.border {
			width: 79%;
		}

		.footer {

			padding-bottom: 50px;

			position: absolute;
			bottom: 0;

			.footerRow {
				h4 {
					font-size: 24px;
					left: 60px;
				}
				.socialButton {
					right: 60px;
					width: 65px;
					height: 65px;
				}
			}
		}

	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

