.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.projectRow {

	padding: 0px 55px;

	.projectCont {
		h1 {
			text-align: center;
			color: white;
			font-family: 'Open Sans', serif;
		}

		p {
			text-align: center;
			color: white;
			font-size: 20px;
			font-family: 'Open Sans', serif;
		}
	}

	.portfolio {
		min-height: 447px;
		background: url('https://unsplash.it/400/300');

		position: relative;

		.card {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			padding: 50px;
			background-color: rgba(0,0,0,0.3);
		}
	}

	.hwad {
		min-height: 447px;
		background: url('https://unsplash.it/500/300');

		position: relative;

		.card {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			padding: 50px;
			background-color: rgba(0,0,0,0.3);
		}
	}

	.ksctool {
		min-height: 447px;
		background: url('https://unsplash.it/600/300');

		position: relative;

		.card {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			padding: 50px;
			background-color: rgba(0,0,0,0.3);
		}
	}
}

// footer
.footerRow {

	margin-top: 100px;

	height: 100px;

	padding-left: 25px;
	padding-right: 25px;

	.footer {
		border-top: 1px solid black;

		padding-top: 40px;

		h4 {
			display: inline;
			font-size: 14px;
			letter-spacing: 2px;
		}

		.socialButton {
			float: right;
			width: 40px;
			height: 40px;

			margin: 0px 3px;
			border-radius: 100%;
			border: 2px solid black;

			position: relative;

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
	// footer
	.footerRow {

		padding-left: 55px;
		padding-right: 55px;

		.footer {

			h4 {
				font-size: 16px;
			}

			.socialButton {

				margin: 0px 8px;

			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}