@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttc") format("truetype"); 
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

// off-canvas
// 100% width
.is-open-right {
	transform: translate(-100%);
}
.off-canvas.position-right {
	right: -100% !important;
	top: 0;
	width: 100% !important;
}
.off-canvas {
	width: 100%;
	// canvas content background
	background-color: black;
}

.off-canvas-wrapper {
	// white-space background
	background-color: black;
}

// off-canvas shadow
.off-canvas-content {
	box-shadow: none !important;
}

// off-canvas content styling
.nav {

	a {
		color: white;
	}

	.link {
		border-bottom: 1px solid white;
		margin-bottom: 10px;

		a {
			padding-left: 0;
			font-size: 20px;
		}
	}

	.theFeed {
		font-size: 20px;
		padding-top: 9px;
		margin-bottom: 30px;
	}

	.theFeedMenu {
		padding-left: 42px;

		.small-12 {
			margin-bottom: 20px;
		}

		i {
			color: white;
			display: block;
			margin-bottom: 20px;
		}

		h2 {
			color: white;
			display: inline;
		}

		h3 {
			color: #667;
		}
	}

	.menu {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}
	
}

.hero1 {
	height: 100vh;
	background: url("/img/nick.gif") no-repeat top;
	background-size: cover;

	.hamburger {
		background-color: transparent;
		color: white;
		font-size: 32px;
		font-weight: 700;
		border: 0px;
		padding: 0px;
		float: right;
		margin-right: 10px;
		margin-top: 20px;
	}


	.content {
		color: white;

		.sig {
			padding-top: 30px;
			margin-left: 25px;
			margin-bottom: 30px;
		}


		h1 {
			font-size: 48px;
			font-family: 'Montserrat';
			padding-left: 20px;
		}

		p {
			font-family: 'Avenir';
			font-size: 24px;
			padding-left: 20px;
			padding-right: 20px;

			span {
				text-decoration: line-through;
			}

		}

		a {
			font-family: 'Avenir';
			margin-left: 20px;
			font-size: 18px;
			border: 1px solid white;
			background-color: transparent;
		}
	}

	.border {
		width: 90%;
		border-top: 1px solid white;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.footer {
		
		.footerRow {

			position: relative;

			h4 {
				font-family: 'Avenir';
				padding-left: 20px;
				display: inline;
				font-size: 18px;
				letter-spacing: 2px;
				color: white;
				top: 50%;
				position: absolute;
				transform: translateY(-50%);
			}

			.twitter:hover {
				background-color: #55acee;
			}

			.github:hover {
				background-color: #000;
			}

			.linkedin:hover {
				background: #007bb5;
			}

			.socialButton {
				float: right;
				width: 50px;
				height: 50px;

				margin: 0px 5px;
				border-radius: 100%;
				border: 2px solid white;

				position: relative;

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
				}
			}
		}
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

	.nav {
		.theFeedMenu {
			h2 {
				font-size: 20px;
			}
			h3 {
				font-size: 16px;
			}
		}
	}

	.hero1 {
		position: relative;
		height: 150vh;

		.hamburger {
			background-color: transparent;
			color: white;
			font-size: 32px;
			font-weight: 700;
			border: 0px;
			padding: 0px;
			float: right;
			margin-right: 10px;
			margin-top: 0px;
		}

		.content {
			padding-top: 30px;
			padding-left: 50px;
			padding-right: 50px;

			h1 {
				font-size: 72px;
			}

			p {
				font-size: 24px;
				line-height: 180%;
			}

			a {
				margin-top: 30px;
				font-size: 20px;
			}
		}
	

		.border {
			width: 79%;
			padding-bottom: 15px;
		}

		.footer {

			padding-bottom: 30px;

			position: absolute;
			bottom: 0;

			.footerRow {
				h4 {
					font-size: 20px;
					left: 60px;
				}
				.socialButton {
					right: 60px;
					width: 65px;
					height: 65px;
				}
			}
		}

	}

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

